@import "fonts"
@import "base"
@import "vars"

.header
  border: 1px solid #ececec
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17)
  &__flex
    display: flex
    justify-content: space-between
    height: 100px
    align-items: center
  &__left
    display: flex
    align-items: center
  &__logo
    color: $dark
    font-size: 27px
    font-family: lato-light
    text-decoration: none
    margin-left: 13px
    margin-right: 37px
    &_other-color
      color: $accent
      font-family: lato-black
  &__form
    display: flex
    &_browse
      width: 87px
      height: 38px
      border-radius: 3px 0 0 3px
      border: 1px solid #e6e6e6
      background-color: #cdcdcc
      border-right-color: transparent
      background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%)
      border-top-right-radius: 0
      border-bottom-right-radius: 0
      padding-top: 2px
      cursor: pointer
      &:hover
        background-color: $accent
  &__summary-search
    display: block
    color: $dark
    font-size: 14px
    line-height: 32px
    text-align: center
    &::-webkit-details-marker
      display: none
    &::after
      content: ''
      border-style: solid
      border-width: 5px 4.5px 0 4.5px
      border-color: #838383 transparent transparent transparent
      display: inline-grid
      margin-left: 5px
      vertical-align: middle
    &:hover
      color: $accent
  &__text
    width: 281px
    height: 38px
    border-radius: 0 3px 3px 0
    border: 1px solid #e6e6e6
    background-color: $light
    padding-left: 16px
    color: #a4a4a4
    font-size: 14px
    font-weight: 300
    line-height: 32px
    letter-spacing: 0.35px
    border-radius: 0 0 0 0
  &__button-search
    width: 36px
    border-radius: 0 3px 3px 0
    border: 1px solid #e6e6e6
    background-color: $light
    border-left-color: transparent
    border-top-left-radius: 0
    border-bottom-left-radius: 0
  &__button-lens
    width: 16px
    padding-top: 4px
    padding-right: 2px
  &__right
    display: flex
    align-items: flex-end
.header__form_browse[open] > .header__summary-search
  &:after
    content: ''
    border-style: solid
    border-width: 0 4.5px 5px 4.5px
    border-color: transparent transparent $accent transparent
.header__form_browse[open] > .header__summary-search
  &:before
    display: none
.button__logo
  width: 130px
  height: 38px
  background-color: $accent
  border: transparent
  margin-left: 25px
  padding-top: 2px
  letter-spacing: 0.38px
  color: $light

.dropdown__menu
  display: grid
  border-radius: 5px
  background-color: $light
  width: 262px
  position: relative
  padding: 20px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17)
  z-index: 1
  &_heading
    color: #232323
    font-family: lato-regular
    font-size: 14px
    font-weight: 400
    line-height: 32px
    text-transform: uppercase
    letter-spacing: 0.35px
    border-bottom: 1px solid #e8e8e8
  &_item
    font-size: 14px
    font-weight: 400
    line-height: 28px
    letter-spacing: 0.35px
    text-decoration: none
    color: #4f4f4f
    font-family: lato-regular
    &:hover
      color: $accent

.summary__basket
  display: block
  font-size: 14px
  line-height: 32px
  text-align: center
  &::-webkit-details-marker
    display: none
  &::after
    content: '▼'
    padding-left: 0.5em
    font-size: 8px
    color: $light
.header-nav
  display: grid
  align-items: center
  height: 51px
.menu
  display: grid
  grid-template-columns: repeat(7,max-content)
  grid-column-gap: 50px
  justify-items: center
  color: $dark
  font-size: 14px
  font-weight: 700
  text-transform: uppercase
  &__list
    list-style-type: none
    position: relative
    &:hover .mega__box
      display: flex
    &__last
      &:hover .mega__box
        right: 0
        left: auto
      &:hover .mega__box::before
        right: 26px
        left: auto
.mega__box
  display: none
  border: 1px solid #e8e8e8
  background-color: $light
  padding: 20px
  border-radius: 5px
  position: absolute
  margin-top: 5px
  z-index: 1
  &:before
    content: ''
    display: block
    width: 12px
    height: 12px
    background-color: $light
    position: absolute
    transform: rotate(45deg)
    top: -7px
    left: 20px
    border-left: 1px solid #e8e8e8
    border-top: 1px solid #e8e8e8
  &__heading
    width: 235px
    border-bottom: 1px solid #e8e8e8
    margin-bottom: 8px
    font-family: lato-regular
    font-size: 14px
    font-weight: 400
    text-transform: uppercase
  &__item
    display: flex
    flex-direction: column
    margin-right: 46px
    &:last-of-type
      margin-right: 0
  &__link
    text-decoration: none
    color: #646464
    font-family: lato-regular
    font-size: 14px
    font-weight: 400
    line-height: 28px
    letter-spacing: 0.35px
    text-transform: capitalize
    &:hover
      color: $accent

.banner
  background-color: #e8e8e8
  height: 613px
  &__block
    background: url("/build/img/bg_banner.png") no-repeat
    height: 100%
    background-size: cover
    display: flex
    align-items: center
  &__text
    display: flex
    flex-direction: column
    height: 92px
    border-left: 12px solid $accent
    justify-content: center
  &__brand
    font-size: 60px
    letter-spacing: 1.5px
    color: $dark
    font-family: lato-black
    margin-left: 12px
    line-height: 65px
  &__size
    height: 92px
  &__fashion
    font-size: 40px
    letter-spacing: 1px
    color: $dark
    font-family: lato-black
    margin-left: 12px
    &__span
      color: $accent
      font-family: lato-black

.promo
  margin: 100px auto 100px
  &__list
    display: flex
    justify-content: space-between
  &__card
    position: relative
  &__hot
    position: absolute
    top: 25px
    width: 175px
    height: 82px
    color: $dark
    font-family: lato-black
    font-size: 18px
    text-align: left
    letter-spacing: 0.45px
    background: #fff
    padding-left: 20px
    padding-top: 16px
  &__formen
    color: $accent
    font-size: 30px
    letter-spacing: 0.75px
    font-family: lato-black
  &__trendy
    width: 225px
    top: 45px
  &__forwomen
    width: 162px
    padding-left: 20px
    text-transform: uppercase
  &__new
    top: 45px
    text-transform: uppercase
  &__photo2
    width: 560px
    height: 261px
    margin-top: 20px
  &__photo4
    margin-top: 20px

.cards
  &__heading
    text-align: center
    color: $dark
    font-size: 30px
    line-height: 54px
    letter-spacing: 0.75px
  &__paragraph
    text-align: center
    color: #9f9f9f
    font-size: 14px
    letter-spacing: 0.35px
  &__list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 65px
  &__item
    width: 263px
    margin-top: 60px
    position: relative
    &:hover
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16)
      background-color: $light
    &:hover .cards__img
      filter: brightness(30%)
    &:hover .cards__add
      display: flex
  &__link
    text-decoration: none
  &__img
    width: 100%
  &__price
    padding: 15px
  &__text
    color: $dark
    font-size: 13px
    font-weight: 400
    text-transform: uppercase
    margin-bottom: 17px
    &__red
      color: $accent
      font-size: 16px
      font-weight: 700
      text-transform: uppercase
  &__add
    position: absolute
    top: 98px
    display: none
    justify-content: center
    width: 100%
    &__link
      border: 1px solid $light
      padding: 10px
      display: flex
      justify-content: center
      align-items: center
      text-decoration: none
      &:hover
        box-shadow: 0 0 10px $light
    &__img
    &__text
      color: $light
      font-family: lato-bold
      font-size: 13px
      margin-left: 8px

.button__product
  display: flex
  justify-content: center
  &__text
    padding: 15px
    background-color: $accent
    border: transparent
  &__sum
    display: block
    color: $light
    font-size: 16px
    font-weight: 700
    letter-spacing: 0.4px
    &::-webkit-details-marker
      display: none
    &::after
      content: '\2192'
      padding-left: 0.5em
      color: $light

.bigbanner
  margin: 100px auto
  &__item
    display: grid
    grid-template-columns: repeat(2, 1fr)
    background-color: #222224
  &__right
    display: grid
    align-items: center
    padding-left: 36px
    padding-right: 43px
    padding-top: 48px
    padding-bottom: 66px
    &__text
      padding-left: 15px
    &__content
      display: grid
      grid-template-columns: 1fr 4fr
    &__head
      padding-bottom: 15px
      color: #fbfbfb
      font-size: 20px
      letter-spacing: 0.5px
      font-size: lato-bold
    &__paragraph
      color: #fbfbfb
      font-size: 14px
      font-weight: 300
      line-height: 24px
      letter-spacing: 0.35px
      font-family: lato-light

.feedback
  height: 438px
  margin-bottom: 120px
  display: grid
  position: relative
  &::before
    content: ''
    display: grid
    background: url("/build/img/bg_footer.png") no-repeat
    position: absolute
    width: 100%
    height: 100%
    opacity: 0.5
    z-index: 1
    background-size: cover
  &__item
    display: grid
    grid-template-columns: repeat(2, 1fr)
    justify-items: center
    align-items: center
    position: relative
    z-index: 2
  &__left
    display: grid
    grid-template-columns: 1fr auto 31px
    grid-template-rows: 83px 20px
    grid-column-gap: 28px
    padding-top: 130px
    border-right: 1px solid $light
    height: 100%
  &__grid
    &__img
      display: grid
      grid-column: 1/2
    &__text
      color: #222224
      font-size: 16px
      font-style: italic
      line-height: 26px
      display: grid
      grid-column: 2/3
      grid-row: 1/3
    &__sing1
      color: $accent
      display: grid
      grid-column: 2/3
      grid-row: 2/3
    &__sing2
      display: grid
      grid-column: 2/3
      grid-row: 3/3
      color: #222224
      font-size: 12px
      font-weight: 300
      letter-spacing: 0.3px
      line-height: 14px
  &__form
    text-align: center
    &__all
      font-size: 0
    &__mail
      width: 282px
      height: 46px
      background-color: #e1e1e1
      border: none
      border-radius: 23px 0 0 23px
      opacity: 0.67
      color: #222224
      font-size: 14px
      letter-spacing: 0.35px
      padding-left: 28px
    &__button
      width: 104px
      height: 46px
      border-radius: 0 23px 23px 0
      background-color: $accent
      border: none
      color: $light
      font-size: 14px
      letter-spacing: 0.35px
    &__heading
      color: #222224
      font-size: 24px
      letter-spacing: 0.6px
      line-height: 41px
      text-transform: uppercase
    &__text
      color: #222224
      font-size: 14px
      padding-bottom: 35px

.footer
  &__list
    display: flex
    padding-bottom: 90px
  &__item
    display: flex
    flex-direction: column
    &__logo
      display: flex
      align-items: center
    &__text
      color: #898989
      font-size: 14px
      font-weight: 300
      line-height: 24px
      letter-spacing: 0.35px
      padding-top: 30px
  &__heading
    color: $accent
    font-size: 18px
    line-height: 26px
    text-transform: uppercase
    padding-bottom: 35px
    padding-top: 14px
  &__link
    text-decoration: none
    color: #898989
    font-size: 16px
    letter-spacing: 0.4px
    line-height: 42px
    text-transform: capitalize
    &:hover
      color: $accent
  &__list1
    display: flex
    flex-direction: column
    width: 427px
  &__list2
    display: flex
    flex-direction: column
    flex: 1
    margin-left: 64px
  &__list3
    display: flex
    flex-direction: column
    flex: 1
  &__list4
    display: flex
    flex-direction: column
    flex: 1
  &__finish
    height: 79px
    background-color: #e6e6e6
    &__one
      display: grid
      height: 100%
    &__social
      display: grid
      align-items: center
      grid-template-columns: repeat(2, 1fr)
      &__link
        &:hover
          border: 1px solid $accent
      &__left
        color: #7a7a7a
        font-size: 16px
        letter-spacing: 0.4px
      &__right
        display: grid
        grid-template-columns: repeat(5, max-content)
        justify-content: end
        grid-gap: 5px

.product__banner
  background-color: #f8f3f4
  height: 148px
  margin-bottom: 70px
  &__container
    height: 100%
  &__content
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    height: 100%
    &__new
      display: grid
      justify-content: start
      &__link
        text-decoration: none
        color: $accent
        font-family: lato-black
        font-size: 24px
        font-weight: 400
        line-height: 20px
        text-transform: uppercase
    &__list
      display: grid
      grid-template-columns: repeat(3, max-content)
      justify-content: end
      grid-gap: 2px
    &__link
      text-decoration: none
      font-size: 14px
      font-weight: 700
      line-height: 20px
      text-transform: uppercase
      color: #636363
      &__red
        color: $accent

.product-promo
  &__content
    display: grid
    grid-template-columns: 1fr 4fr
  &__menu
    width: 293px
    display: grid
    grid-template-rows: repeat(3, max-content)
    grid-gap: 26px
    &_list
      list-style-type: none
      cursor: pointer
    &_link
      text-decoration: none
      color: #6f6e6e
      font-size: 14px
      text-transform: uppercase
      padding-top: 12px
      padding-bottom: 12px
      padding-left: 11px
      margin-right: 40px
      display: grid
      grid-template-columns: 1fr 1fr
      box-shadow: inset 5px 0 0 #ef5b70
      border-bottom: 1px solid #ebebeb
      &::-webkit-details-marker
        display: none
      &:after
        content: '▼'
        font-size: 9px
        color: #838383
        display: grid
        justify-content: end
        align-items: center
      &:hover
        color: #ef5b70
    &_list[open] > .product-promo__menu_link
      &:after
        content: '▲'
        color: $accent
        font-size: 9px
        display: grid
        justify-content: end
        align-items: center
    &_list[open] > .product-promo__menu_link
      &:before
        display: none
  &__dropdown
    border-radius: 0
    background-color: transparent
    box-shadow: none
    padding: 10px
  &__price
    &_filter
      display: grid
      grid-column: 1/4
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: repeat(2, max-content)
      grid-row-gap: 41px
    &_filter-trending
      display: grid
      grid-template-rows: repeat(2,1fr)
    &_filter-paragraph
      grid-column: 1/2
      font-size: 14px
      font-weight: bold
      color: #6f6e6e
      text-transform: uppercase
      padding-bottom: 25px
    &_filter-price
      display: grid
      grid-template-rows: 34px 1fr
    &_list
      display: grid
      grid-template-columns: 25% 20% 25%
      grid-column-gap: 5px
    &_list1
      grid-template-columns: repeat(4,46px)
      grid-column-gap: 20px
    &_link
      text-decoration: none
      font-size: 14px
      color: #6f6e6e
      &:hover
        color: $accent
    &_sort
      display: grid
      grid-template-columns: repeat(1, 19% 19%)
      grid-column: 1/4
      background-color: #f3f3f3
      height: 50px
      align-items: center
    &_paragraph-sort, &_sortby
      border: 1px solid #ebebeb
      background-color: $white
      color: #6f6e6e
      padding: 5px 10px
      font-size: 14px
    &_block1
      display: grid
      grid-template-columns: 67px 86px
      margin-left: 10px
    &_block2
      display: grid
      grid-template-columns: 55px 63px
      margin-left: 10px
    &_cent
      display: grid
      grid-template-columns: 1fr 1fr
      font-size: 14px
      color: #6f6e6e
    &_cent-input
      grid-column: 1/3
    &_cent2
      display: grid
      justify-content: end
    &_summary1, &_summary2
      display: block
      &::-webkit-details-marker
        display: none
      &:after
        content: '▼'
        padding-left: 2.5em
        font-size: 8px
        color: #838383
  &__cards
    display: grid
    grid-template-columns: repeat(3,max-content)
    justify-content: space-between
  &__down-menu
    display: grid
    grid-template-columns: 260px 3fr
    grid-template-rows: 44px
    margin-top: 45px
    margin-bottom: 110px
    &_left
      border: 1px solid #ebebeb
      display: grid
      grid-template-columns: repeat(8, max-content)
      grid-column-gap: 16px
      align-items: center
      justify-content: center
    &_button-number
      font-size: 16px
      color: #c4c4c4
      text-decoration: none
    &_right
      display: grid
      justify-content: end
    &_button
      padding: 0px 47px
      border: 1px solid $accent
      font-size: 16px
      background-color: #fff
      color: $accent

.product__bigbanner
  background-color: #222224
  height: 341px
  &__container
    height: 100%
  &__content
    display: grid
    grid-template-columns: repeat(3, 1fr)
    height: 100%
    &__new
      display: grid
      grid-template-rows: repeat(2, max-content)
      align-self: center
      justify-items: center
      grid-template-columns: none
    &__text
      text-align: center
      padding-left: 0
      padding-top: 32px
      width: 310px
    &__head
      display: grid
      padding-left: 0
      padding-top: 15px
    &__paragraph
      display: grid
      padding-left: 0px

.shop-cart
  &__product
    display: grid
    &_head-left
      padding-bottom: 20px
      border-bottom: 1px solid #eaeaea
      text-transform: uppercase
      font-size: 13px
    &_head
      padding-bottom: 20px
      border-bottom: 1px solid #eaeaea
      text-align: center
      text-transform: uppercase
      font-size: 13px
    &_details
      display: grid
      grid-template-columns: 533px repeat(5,1fr)
    &_details-img
      grid-row: 1/4
    &_details1
      display: grid
      grid-template-rows: repeat(3,1fr)
      grid-template-columns: 100px 433px repeat(5,1fr)
      font-size: 13px
      border-bottom: 1px solid #eaeaea
      padding-bottom: 26px
      padding-top: 26px
    &_details-desc1
      grid-column: 2/3
    &_details-desc2
      grid-column: 2/3
    &_details-desc3
      grid-column: 2/3
    &_details-desc4
      grid-row: 2/3
      grid-column: 3/4
      justify-self: center
    &_details-desc5
      grid-row: 2/3
      grid-column: 4/5
      justify-self: center
    &_details-desc6
      grid-row: 2/3
      grid-column: 5/6
      justify-self: center
    &_details-desc7
      grid-row: 2/3
      grid-column: 6/7
      justify-self: center
    &_details-desc8
      grid-row: 2/3
      grid-column: 7/8
      justify-self: center
    &_details2
      display: grid
      grid-template-rows: repeat(3,1fr)
      grid-template-columns: 1fr 1fr
    &_details3
      display: grid
      grid-template-rows: repeat(3,1fr)
      grid-template-columns: 1fr 1fr
    &_price
      display: grid
      grid-template-rows: repeat(4,max-content)
      grid-row-gap: 80px
      text-align: center
    &_quantity
      display: grid
      grid-template-rows: repeat(4,max-content)
      grid-row-gap: 80px
      text-align: center
    &_shipping
      display: grid
      grid-template-rows: repeat(4,max-content)
      grid-row-gap: 80px
      text-align: center
    &_subtotal
      display: grid
      grid-template-rows: repeat(4,max-content)
      grid-row-gap: 80px
      text-align: center
    &_action
      display: grid
      grid-template-rows: repeat(4,max-content)
      grid-row-gap: 80px
      text-align: center
//
// checkbox
//
.control
  font-family: lato
  display: block
  position: relative
  padding-left: 25px
  margin-bottom: 5px
  padding-top: 1px
  cursor: pointer

  input
    position: absolute
    z-index: -1
    opacity: 0

.control_indicator
  position: absolute
  top: 3px
  left: 0
  height: 13px
  width: 13px
  background: #ffffff
  border: 1px solid #ebebeb
  border-radius: 0px

.control
  &:hover input ~ .control_indicator
    background: #cccccc

  input
    &:focus ~ .control_indicator
      background: #cccccc

    &:checked ~ .control_indicator
      background: #f16d7f

  &:hover input:not([disabled]):checked ~ .control_indicator
    background: #e6647d

  input
    &:checked:focus ~ .control_indicator
      background: #e6647d

    &:disabled ~ .control_indicator
      background: #e6e6e6
      opacity: 0.6
      pointer-events: none

.control_indicator:after
  box-sizing: unset
  content: ''
  position: absolute
  display: none

.control input:checked ~ .control_indicator:after
  display: block

.control-checkbox
  .control_indicator:after
    left: 4px
    top: 1px
    width: 2px
    height: 5px
    border: solid #ffffff
    border-width: 0 2px 2px 0
    transform: rotate(45deg)

  input:disabled ~ .control_indicator:after
    border-color: #7b7b7b
//
//range
//
//

input[type=range]
  -webkit-appearance: none
  margin: 10px 0
  width: 100%

  &:focus
    outline: none

  &::-webkit-slider-runnable-track
    width: 100%
    height: 6px
    cursor: pointer
    animate: 0.2s
    box-shadow: 0px 0px 0px #000000
    background: #f0f0f0
    border-radius: 3px
    border: 0px solid #000000

  &::-webkit-slider-thumb
    box-shadow: 0px 0px 1px #000000
    border: 0px solid #000000
    height: 18px
    width: 18px
    border-radius: 10px
    background: #f16d7f
    cursor: pointer
    -webkit-appearance: none
    margin-top: -6px

  &:focus::-webkit-slider-runnable-track
    background: #f0f0f0

  &::-moz-range-track
    width: 100%
    height: 6px
    cursor: pointer
    animate: 0.2s
    box-shadow: 0px 0px 0px #000000
    background: #f0f0f0
    border-radius: 3px
    border: 0px solid #000000

  &::-moz-range-thumb
    box-shadow: 0px 0px 1px #000000
    border: 0px solid #000000
    height: 18px
    width: 18px
    border-radius: 10px
    background: #f16d7f
    cursor: pointer

  &::-ms-track
    width: 100%
    height: 6px
    cursor: pointer
    animate: 0.2s
    background: transparent
    border-color: transparent
    color: transparent

  &::-ms-fill-lower, &::-ms-fill-upper
    background: #f0f0f0
    border: 0px solid #000000
    border-radius: 6px
    box-shadow: 0px 0px 0px #000000

  &::-ms-thumb
    box-shadow: 0px 0px 1px #000000
    border: 0px solid #000000
    height: 18px
    width: 18px
    border-radius: 10px
    background: #f16d7f
    cursor: pointer

  &:focus
    &::-ms-fill-lower, &::-ms-fill-upper
      background: #f0f0f0

@import "media"
