@import "fonts"
@import "base"
@import "vars"

.header
  border: 1px solid #ececec
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17)
  &__flex
    display: flex
    justify-content: space-between
    height: 100px
    align-items: center
  &__left
    display: flex
    align-items: center
  &__form
    display: flex
  &__text
    width: 281px
    height: 38px
    border-radius: 0 3px 3px 0
    border: 1px solid #e6e6e6
    background-color: #ffffff
    padding-left: 16px
    color: #a4a4a4
    font-size: 14px
    font-weight: 300
    line-height: 32px
    letter-spacing: 0.35px
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    border-top-right-radius: 0
    border-bottom-right-radius: 0
  &__right
    display: flex
    align-items: flex-end

.logo__text
  color: #222222
  font-size: 27px
  font-family: lato-light
  text-decoration: none
  margin-left: 13px
  margin-right: 37px

.other-color
  color: #f16d7f
  font-family: lato-black

.button__search
  width: 36px
  border-radius: 0 3px 3px 0
  border: 1px solid #e6e6e6
  background-color: #ffffff
  border-left-color: transparent
  border-top-left-radius: 0
  border-bottom-left-radius: 0

.form__browse
  width: 87px
  height: 38px
  border-radius: 3px 0 0 3px
  border: 1px solid #e6e6e6
  background-color: #cdcdcc
  border-right-color: transparent
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%)
  border-top-right-radius: 0
  border-bottom-right-radius: 0
  padding-top: 2px

.summary__search
  display: block
  color: #222222
  font-size: 14px
  line-height: 32px
  text-align: center
  &::-webkit-details-marker
    display: none
  &::after
    content: '▼'
    padding-left: 0.5em
    font-size: 9px
    color: #838383

.button__logo
  width: 130px
  height: 38px
  background-color: #f16d7f
  border: transparent
  margin-left: 25px
  padding-top: 2px
  letter-spacing: 0.38px
  color: #ffffff

.button__lens
  width: 16px
  padding-top: 4px
  padding-right: 2px

.dropdown__menu
  display: flex
  flex-direction: column
  border-radius: 5px
  background-color: #ffffff
  width: 262px
  position: relative
  padding: 20px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17)
  z-index: 1
  &__heading
    color: #232323
    font-family: lato-regular
    font-size: 14px
    font-weight: 400
    line-height: 32px
    text-transform: uppercase
    letter-spacing: 0.35px
    border-bottom: 1px solid #e8e8e8
  &__item
    font-size: 14px
    font-weight: 400
    line-height: 28px
    letter-spacing: 0.35px
    text-decoration: none
    color: #4f4f4f
    font-family: lato-regular
    &:hover
      color: #f16d7f

.summary__basket
  display: block
  font-size: 14px
  line-height: 32px
  text-align: center
  &::-webkit-details-marker
    display: none
  &::after
    content: '▼'
    padding-left: 0.5em
    font-size: 9px
    color: #ffffff

.menu
  display: flex
  flex-direction: row
  width: 680px
  height: 51px
  color: #222222
  font-size: 14px
  font-weight: 700
  line-height: 26px
  text-transform: uppercase
  align-items: center
  justify-content: space-between
  margin: 0 auto
  &__list
    list-style-type: none
    position: relative
    &:hover .mega__box
      display: flex
    &__last
      &:hover .mega__box
        right: 0
        left: auto
      &:hover .mega__box::before
        right: 26px
        left: auto
.mega__box
  display: none
  border: 1px solid #e8e8e8
  background-color: #ffffff
  padding: 20px
  border-radius: 5px
  position: absolute
  margin-top: 5px
  &:before
    content: ''
    display: block
    width: 12px
    height: 12px
    background-color: #ffffff
    position: absolute
    transform: rotate(45deg)
    top: -7px
    left: 20px
    border-left: 1px solid #e8e8e8
    border-top: 1px solid #e8e8e8
  &__heading
    width: 235px
    border-bottom: 1px solid #e8e8e8
    margin-bottom: 8px
    font-family: lato-regular
    font-size: 14px
    font-weight: 400
    text-transform: uppercase
  &__item
    display: flex
    flex-direction: column
    margin-right: 46px
    &:last-of-type
      margin-right: 0
  &__link
    text-decoration: none
    color: #646464
    font-family: lato-regular
    font-size: 14px
    font-weight: 400
    line-height: 28px
    letter-spacing: 0.35px
    text-transform: capitalize
    &:hover
      color: #f16d7f

.banner
  background-color: #e8e8e8
  height: 613px
  &__block
    background: url("/build/img/bg_banner.png") no-repeat
    height: 100%
    background-size: cover
    display: flex
    align-items: center
  &__text
    display: flex
    flex-direction: column
    height: 92px
    border-left: 12px solid #f16d7f
    justify-content: center
  &__brand
    font-size: 60px
    letter-spacing: 1.5px
    color: #222222
    font-family: lato-black
    margin-left: 12px
    line-height: 65px
  &__size
    height: 92px
  &__fashion
    font-size: 40px
    letter-spacing: 1px
    color: #222222
    font-family: lato-black
    margin-left: 12px
    &__span
      color: #f16d7f
      font-family: lato-black

.promo
  margin: 100px auto 100px
  &__list
    display: flex
    justify-content: space-between
  &__card
    position: relative
  &__hot
    position: absolute
    top: 25px
    width: 175px
    height: 82px
    color: #222222
    font-family: lato-black
    font-size: 18px
    text-align: left
    letter-spacing: 0.45px
    background: #fff
    padding-left: 20px
    padding-top: 16px
  &__formen
    color: #f16d7f
    font-size: 30px
    letter-spacing: 0.75px
    font-family: lato-black
  &__trendy
    width: 225px
    top: 45px
  &__forwomen
    width: 162px
    padding-left: 20px
    text-transform: uppercase
  &__new
    top: 45px
    text-transform: uppercase
  &__photo2
    width: 560px
    height: 261px
    margin-top: 20px
  &__photo4
    margin-top: 20px

.cards
  &__heading
    text-align: center
    color: #222222
    font-size: 30px
    line-height: 54px
    letter-spacing: 0.75px
  &__paragraph
    text-align: center
    color: #9f9f9f
    font-size: 14px
    letter-spacing: 0.35px
  &__list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 65px
  &__item
    width: 263px
    margin-top: 60px
    position: relative
    &:hover
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16)
      background-color: #ffffff
    &:hover .cards__img
      filter: brightness(30%)
    &:hover .cards__add
      display: flex
  &__link
    text-decoration: none
  &__img
    width: 100%
  &__price
    padding: 15px
  &__text
    color: #222222
    font-size: 13px
    font-weight: 400
    text-transform: uppercase
    margin-bottom: 17px
    &__red
      color: #f16d7f
      font-size: 16px
      font-weight: 700
      text-transform: uppercase
  &__add
    position: absolute
    top: 98px
    display: none
    justify-content: center
    width: 100%
    &__link
      border: 1px solid #ffffff
      padding: 10px
      display: flex
      justify-content: center
      align-items: center
      text-decoration: none
      &:hover
        box-shadow: 0 0 10px #ffffff
    &__img
    &__text
      color: #ffffff
      font-family: lato-bold
      font-size: 13px
      margin-left: 8px

.button__product
  display: flex
  justify-content: center
  &__text
    padding: 15px
    background-color: #f16d7f
    border: transparent
  &__sum
    display: block
    color: #ffffff
    font-size: 16px
    font-weight: 700
    letter-spacing: 0.4px
    &::-webkit-details-marker
      display: none
    &::after
      content: '\2192'
      padding-left: 0.5em
      color: #ffffff

.bigbanner
  margin: 100px auto
  &__item
    display: flex
    background-color: #222224
  &__right
    display: flex
    flex-direction: column
    width: 373px
    &__content
      display: flex
      align-items: flex-start
      justify-content: center
      width: 81%
      margin: 0 auto
      padding-top: 50px
    &__head
      display: flex
      padding-left: 35px
      padding-bottom: 15px
      color: #fbfbfb
      font-size: 20px
      letter-spacing: 0.5px
      font-size: lato-bold
    &__paragraph
      display: flex
      color: #fbfbfb
      font-size: 14px
      font-weight: 300
      line-height: 24px
      letter-spacing: 0.35px
      padding-left: 35px
      font-family: lato-light

.feedback
  background: url("/build/img/bg_footer.png") no-repeat
  height: 438px
  background-size: cover
  margin-bottom: 120px
  &__item
    display: flex
    justify-content: space-between
    height: 100%
    align-items: center
  &__left
    display: flex
    flex-direction: column
    justify-content: center
    width: 50%
    height: 100%
    border-right: 1px solid #ffffff
  &__form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 50%
    height: 100%
    &__heading
      font-size: 24px
      font-family: lato-regular
      letter-spacing: 0.6px
      line-height: 54px
      text-transform: uppercase
  &__comment
    display: flex
  &__text
    color: #222224
    font-size: 14px
    font-style: italic
    line-height: 26px
    letter-spacing: 0.4px
    width: 386px
    padding-left: 24px

.footer
  &__list
    display: flex
  &__item
    display: flex
    flex-direction: column
    &__text
      color: #898989
      font-size: 14px
      font-weight: 300
      line-height: 24px
      letter-spacing: 0.35px
      padding-top: 30px
  &__heading
    color: #f16d7f
    font-size: 18px
    line-height: 26px
    text-transform: uppercase
  &__link
    text-decoration: none
    color: #898989
    font-size: 16px
    letter-spacing: 0.4px
    line-height: 42px
  &__list1
    display: flex
    flex-direction: column
    width: 427px
  &__list2
    display: flex
    flex-direction: column
    flex: 1
    margin-left: 64px
  &__list3
    display: flex
    flex-direction: column
    flex: 1
  &__list4
    display: flex
    flex-direction: column
    flex: 1
  &__finish
    height: 79px
    background-color: #e6e6e6

@import "media"
